# Файл бази даних вашого асистента
addressbook.pkl

# Тимчасові файли компіляції Python
__pycache__/
*.py[cod]
*$py.class

# Налаштування віртуального середовища (якщо використовуєте)
venv/
.venv/
env/

# Налаштування середовища розробки (VS Code, PyCharm)
.idea/
.vscode/
.DS_Store
